* {
    box-sizing: border-box;
}

/*----------------------------------------------- HEADER AND NAV BAR ---------------------------------------------------------------------*/

header {
    margin-bottom: 40px;
    background-color: #2F1515;
    color: #d5d5d5;
}
  
header h1 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content: center;
}
  
header nav ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    font-size: .8em;
    width: 95%;
}
  
header nav ul li a {
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

a:link {
    color: #b2cce5;
}

a:visited {
    color: #95A5A6 ;
}

a:hover {
    color: #91A6BA ;
}

a:active {
    color: #7BACDD ;
}

/*------------------------------------------------ GENERAL --------------------------------------------------------------------*/

h1, h2, p, li, button, input, form {
    font-family: 'Nunito', 'Arial', 'Helvetica', 'sans-serif';
}

p, li, button, input, form {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #382929;
}
  
.wrapper {
    width: 90%;
    margin: auto;
}

body h2, p, li, button, form {
    color: #d5d5d5;
}

.show-button, .category-button {
	box-shadow: 0px 10px 14px -7px #604A4A;
	background-color:#604A4A;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:2px 4px;
	text-decoration:none;
}

button {
    margin-bottom: 7px;
}

.category-button {
    width: 50%;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.center-button {
    text-align: center;
    margin-top: 10px;
}

h2, p {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

.home p {
    text-align: left;
    letter-spacing: 1px;
    width: 95%;
}

/*------------------------------------------------ TOP BY CATEGORY SELECT --------------------------------------------------------------------*/

.top-by-category-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-button {
    text-align: center;
}



/*------------------------------------------------ MATCHING OPTION SELECT --------------------------------------------------------------------*/

legend, .city-button, .bold {
    font-weight: bold;
}

.radio {
    white-space: nowrap;
}

.match-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.match-options fieldset {
    margin: 10px;
    width: 20%;
    padding: 10px;
}

#js-match-submit {
    margin-top: 7px;
    text-align: center;
}

/*----------------------------------------------------------- RESULTS --------------------------------------------------------------------*/

.top-category-results {
    margin: auto;
    width: max-content;
}

ol li {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

ul li {
    margin: 3px 0;
}

ul .category-name {
    text-align: left;
}

.rating {
    float: right;
    margin-left: 2em;
}

.city-result .city-button {
    text-align: left;
}

.result-list {
    margin: auto;
    width: max-content;
    padding: 0;
}

.city-result {
    margin-bottom: 15px;
}

.city-button {
    background: none;
    border: none;
}

/*----------------------------------------------------------- CITY SPECIFIC PAGE --------------------------------------------------------------------*/

.city-specific-info {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    width: max-content;
}

.city-specific-name {
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 5px;
}

.shade {
    background-color: rgba(0, 0, 0, 0.500);
}






/*--------------------------------------------------------------------------------------------------------------------*/  

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .wrapper {
        width: 90%;
    }
}

/* iPads (portrait) ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .wrapper {
        width: 85%;
    }

    p, li, button, input, form {
        font-size: 18px;
    }

    .show-button, .category-button {                    
        padding:8px 16px;
    }


}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .wrapper {
        width: 80%;
    }

    p, li, button, input, form {
        font-size: 18px;
    }

    .show-button, .category-button {                    
        padding:8px 16px;
    }
}
    


    
@media all and (min-width: 1024px) {
    .wrapper{
        width: 75%;
    }

    h2, p {
        text-align: left;
    }

    h2 {
        font-size: 26px;
    }

    p, li, button, input, form {
        font-size: 20px;
    }

    .top-category-results {
        margin: 0;
    }

    .home, .top-by-category-options, .result-list {
        width: 50%;
    }

    .result-list {
        float: left;
        width: fit-content;
    }

    .center-button {   
        text-align: center;
        width: 50%;
    }

    .hide-desktop {
        display: none;
    }


    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
  
    header h1 {
      font-size: 42px;
      margin: 14px 0;
      padding-top: 6px;
    }
    
    header nav {
      margin-top: 14px;
    }

    .match-options {
        flex-flow: row wrap;
    }

    .match-options form {
        margin: 0;
    }

    .show-button, .category-button {                    
        padding:8px 16px;
    }

    .city-specific-info, .city-specific-name{
        margin: 0 0 20px 200px;
    }
  
  }
  
   
  
  