* {
    box-sizing: border-box;
}

/*----------------------------------------------- HEADER AND NAV BAR ---------------------------------------------------------------------*/

header {
    margin-bottom: 40px;
    background-color: #2F1515;
    color: #d5d5d5;
}
  
header h1 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content: center;
}
  
header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}
  
header nav ul li a {
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

a:link {
    color: #b2cce5;
}

a:visited {
    color: #95A5A6 ;
}

a:hover {
    color: #91A6BA ;
}

a:active {
    color: #7BACDD ;
}

/*------------------------------------------------ GENERAL --------------------------------------------------------------------*/

h1, h2, p, li, button, input, form {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #382929;
}
  
.wrapper {
    width: 95%;
    margin: auto;
}

body h2, p, li, button, form {
    color: #d5d5d5;
}

.show-button, .category-button {
	box-shadow: 0px 10px 14px -7px #604A4A;
	background-color:#604A4A;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
}

button {
    margin-bottom: 7px;
}

.category-button {
    width: 50%;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.center-button {
    text-align: center;
    margin-top: 10px;
}

h2, p {
    text-align: center;
}

.capitalize {
    text-transform: capitalize;
}

/*------------------------------------------------ TOP BY CATEGORY SELECT --------------------------------------------------------------------*/

.top-by-category-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-button {
    text-align: center;
}

/*------------------------------------------------ MATCHING OPTION SELECT --------------------------------------------------------------------*/

legend, .city-button, .bold {
    font-weight: bold;
}

.radio {
    white-space: nowrap;
}

.match-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.match-options form {
    width: 20%;
    padding: 10px;
    display: inline-flex;
    margin: 0 100px 0 0;
}

/*----------------------------------------------------------- RESULTS --------------------------------------------------------------------*/

.top-category-results {
    margin: auto;
    width: max-content;
}

ul {
    list-style: none;
    display: table;
}

ul li {
    margin: 3px 0;
}

ul .category-name {
    text-align: left;
}

.rating {
    float: right;
    margin-left: 2em;
}

.city-result .city-button {
    text-align: left;
}

.result-list {
    margin: auto;
    width: max-content;
}

.city-result {
    margin-bottom: 15px;
}

.city-button {
    background: none;
    border: none;
}

/*----------------------------------------------------------- CITY SPECIFIC PAGE --------------------------------------------------------------------*/

.city-specific-info {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.city-specific-name {
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 5px;
}

.shade {
    background-color: rgba(0, 0, 0, 0.500);
}

.min-width {
    width: max-content;
}




/*--------------------------------------------------------------------------------------------------------------------*/  

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /*default*/
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* iPads (portrait) ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}
    


    
@media all and (min-width: 1024px) {
    .wrapper{
        width: 80%;
    }

    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
  
    header h1 {
      font-size: 42px;
      margin: 14px 0;
      padding-top: 6px;
    }
    
    header nav {
      margin-top: 14px;
    }

    .match-options {
        flex-flow: row wrap;
    }

    .match-options form {
        margin: 0;
    }
  
  }
  
   
  
  